/*Selector
{
    Property: value
}
*/

body {
    display: block;
    background:none;
}

.cat::after {
    content: "";
    background-image: url(img/catbread.jpg);
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.35;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1; 
}

h2 {
    color: red;
    text-align: center;
    border: 5px solid purple;
    cursor: pointer;
}

h4 {
    max-width: 50px;
    margin-left: auto;
    margin-right: auto;
}

p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'PT Mono', monospace;
    text-align: justify;
}

p.lorem {
    color: darkslategrey;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: bold;
}

p.viola {
    color: blueviolet;
}

li {
    /* list-style: none; */
    list-style-type: square;
    display: inline-block;
    background-color: white;
}

header {
    top: 0;
    position: fixed;
}