/*Selector
{
    Property: value
}
*/

body {
    display: block;
    background: url(img/catbread.jpg);
    background-size: 100% auto;
    background-attachment:fixed;
    background-repeat:inherit;
    margin: 0px;
    padding: 0px;
}

.cat {
    background: rgba(255,255,255,0.65);
}

h2 {
    color: red;
    text-align: center;
    border: 5px solid purple;
    cursor: pointer;
}

h4 {
    max-width: 50px;
    margin-left: auto;
    margin-right: auto;
}

p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7px;
    padding-right: 7px;
    font-family: 'PT Mono', monospace;
    text-align: justify;
}

p.lorem {
    color: darkslategrey;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: bold;
}

p.viola {
    color: blueviolet;
}

li {
    /* list-style: none; */
    list-style-type: square;
    display: inline-block;
    background-color: white;
}

header {
    top: 0;
    position: fixed;
}